    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 16px;
    }
    
    body {
        font-family: 'Karla', sans-serif;
        background-color: hsl(204, 43%, 93%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
       
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 1fr);
        width: 85%;
        margin:auto;
        box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
    
    p {
        line-height: 1.7;
    }
    
    .header,
    .subscription,
    .why-us {
        padding: 2rem;
    }

    /* Top section
********************/
    
    h1 {
        color: hsl(179, 62%, 43%);
        line-height: 1.5;
        font-size: 1.45em;
    }
    
    h3 {
        color: hsl(71, 73%, 54%);
        line-height: 1.5;
        font-size: 1em;
        margin: 1rem 0 1rem 0;
    }
    
    .header {
        background-color: white;
        grid-row: 1 /span 1;
        border-radius: 10px 10px 0 0;
        color: hsl(218, 22%, 67%);
    }
    
    .header p {
        margin-top: 0.5rem;
        max-width: 180ch;
    }

    /* Monthly subscription section
********************/
    
    h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    
    .subscription {
        background-color: hsl(179, 62%, 38%);
        color: white;
        grid-row: 2/span 1;
    }
    
    .cost-line {
        margin: 1rem 0 0.5rem;
        line-height: 1;
    }
    
    .dollars {
        font-size: 2rem;
        font-weight: 700;
        padding-right: 0.5rem;
        color: white;
    }
    
    .per-month {
        font-size: 0.875em;
        color: hsl(204, 43%, 93%, 0.8);
        vertical-align: super;
    }

    .sign-up {
        display: block;
        width: 100%;
        background-color: hsl(71, 73%, 54%);
        text-decoration: none;
        color: white;
        font-weight: 700;
        border-radius: 0.5rem;
        margin: 1.5rem 0 0.5rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
        transition: transform .3s;
    }

    .sign-up:hover {
        transform: scale(1.1);
    }

    /* Why us section
********************/
    
    .why-us {
        background-color: hsl(179, 62%, 43%);
        color: white;
        grid-row: 3 / span 1;
        border-radius: 0 0 10px 10px;
    }
    
    li {
        list-style-type: none;
        line-height: 1.5em;
        font-size: 0.875em;
        color: hsl(204, 43%, 93%, 0.9)
    }

   /* Footer
********************/ 
    footer, .attribution a {
        color: hsl(218, 22%, 67%);
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    /* Responsive - Desktop
********************/

@media screen and (min-width: 800px) {
   .wrapper {
       grid-template-columns: 1fr 1fr;
       width: 60%;
   }

   .header,
   .subscription,
   .why-us {
       padding: 2.5rem;
   }

   .header {
        grid-row: 1 /span 1;
        grid-column: 1 / span 2;
        border-radius: 15px 15px 0 0;
   }
    .subscription {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        border-radius: 0 0 0px 15px;
    }

    .why-us {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        border-radius: 0 0 15px 0;
    }
   
}